@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* reset - 브라우저에서 잡고있는 기본 스타일을 모두 초기화 시켜주는 작업*/
/* => 구조 태그 */
html, body, h1, h2, h3, h4, h5, h6, div, p, ul, ol, li, dl, dt, dd, address, blockquote, header, main, section, article, aside, figure, figcaption, nav, footer   {display: block; margin: 0; padding: 0;}
li  {list-style-type: none;} /* 글머리기호 초기화 */
a   {text-decoration: none; color: inherit;}

body    {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: rgba(0, 0, 0, 0.8);
    background: #eee;
}
.info_area  {
    width: 1100px;
    margin: 50px auto;
}
.info_area h2   {
    font-size: 40px;
    font-weight: 600;
    color: #111;
    margin-bottom: 40px;
    text-align: center;
}
.info_group {}
.info_group > li    {
    float: left;
    width: 537px;
    height: 280px;
    background: #fff;
    margin-right: 25px;
}
.info_group > li:last-child {margin-right: 0;}

/* float 적용 */
.info_group figure    {
    float: left;
    width: 50%;
    height: 100%;
    background: url(../img/img_info1.jpg) no-repeat center/cover; /* background: image url() repeat position/size 순으로 작성 */
}
.info_group li:last-child figure    {
    background-image: url(../img/img_info2.jpg);
} 
.info_group .info_text    {
    float: left;
    width: 50%;
    height: 100%;
    padding: 25px;
    box-sizing: border-box;
}
.info_group .info_text > span   {
    display: inline-block;
    font-weight: 500;
    margin-bottom: 8px;
}
.info_group .info_text .title   {margin-bottom: 20px;}
.info_group .info_text .title > span, 
.info_group .info_text .title > strong    {
    /* display: inline-block; */
    font-size: 18px;
    font-weight: 500;
    color: #000;
    /* letter-spacing: -1px; */
    margin-right: 5px;
}
/* !important 값은 아주 중요하고 급하게 처리해야 하는 경우에만 선언을 해주도록 한다. !important 속성이 많이 선언될수록 유지보수가 어렵다. */
.color_blue  {color: #4DBBF8 !important;}
.color_orange    {color: #F6A212 !important;}
.info_group .info_text .text    {
    line-height: 1.4;
    margin-bottom: 30px;
}
.info_group .info_text .tip > span {margin-left: 5px;}